<% provide :title, "Профиль пользователя #{@user.login}" %>

<%= render 'shared/main_nav' %>
<%= render 'shared/hero'  %>
<div id="start" class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render partial: 'shared/posts', locals: { posts: @posts, next_page_link: user_path(:page => @posts.next_page) }  %>
    </div>
  </div><!-- end row -->
</div>
<%= render 'shared/footer' %>
