<section id="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
          <li><a href="index.html">Blog</a></li>
          <li><a href="#">Writing</a></li>
          <li class="active">We don't have a brig</li>
        </ol>
      </div>
    </div>
  </div>
</section>