<section id="hero" class="light-typo">
  <div id="cover-image" class="image-bg animated fadeIn"></div>
  <div class="container welcome-content">
    <div class="middle-text">
      <h1>Заголовок блога!</h1>
      <h2>Описание блога.</h2>
    </div>
  </div>
</section>
