<% if posts.any? %>
    <%= render partial: 'shared/post', collection: posts %>
    <div class="paging clearfix">
        <%= link_to 'Еще', next_page_link, class: 'btn pull-btn', id: 'pull-btn', remote: true unless posts.total_pages == posts.current_page  %>
    </div>
<% else %>
    <p>Не удалось найти посты.</p>
<% end %>
