<% if @posts.any? %>
    <%= render partial: 'shared/post', collection: @posts %>
    <div class="paging clearfix">
      <%= link_to 'Еще', root_path(:page => @posts.next_page), class: 'btn pull-btn', id: 'pull-btn', remote: true if @posts.next_page %>
    </div>
<% else %>
    <p>Не удалось найти посты.</p>
<% end %>