<div class="media">
  <a class="pull-left avatar" href="#">
    <img class="media-object img-circle" src="../assets/author-sing.jpg" width="40" height="40" alt="">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to comment.user.login, comment.user %><span><%= time_ago_in_words(comment.created_at) %> | <a href="#">REPLY</a></span></h4>
    <p><%= comment.content %></p>
  </div>
</div>