<!--<form action="index.html" method="post" novalidate="" class="myform" id="mycomment">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" style="visibility: hidden; -webkit-animation-name: none;">-->
      <!--<div class="form-group">-->
        <!--<label class="control-label" for="contact-message">Join the discussion...</label>-->
        <!--<div class="controls">-->
          <!--<textarea name="comments" placeholder="Join the discussion..." class="form-control input-lg requiredField" rows="3" data-error-empty="Please enter comment"></textarea>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
          <!--<div class="form-group">-->
            <!--<label class="control-label">Name</label>-->
            <!--<div class="controls">-->
              <!--<input name="contactName" placeholder="Name" class="form-control input-lg requiredField " type="text" data-error-empty="Please enter name">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
          <!--<div class="form-group">-->
            <!--<label class="control-label" for="contact-mail">Email</label>-->
            <!--<div class=" controls">-->
              <!--<input name="email" placeholder="Email" class="form-control input-lg requiredField" type="email" data-error-empty="Please enter email" data-error-invalid="Invalid email address">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
          <!--<div class="form-group">-->
            <!--<label class="control-label">Website</label>-->
            <!--<div class="controls">-->
              <!--<input name="contactName" placeholder="Website" class="form-control input-lg " type="text">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
          <!--<div class="form-group">-->
            <!--<button name="submit" type="submit" class="btn btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Comment Sent">Send Comment</button>-->
            <!--<input type="hidden" name="submitted" id="submitted3" value="true">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
<!--</form>-->

<%= form_for(@comment, html: { class: 'myform', novalidate: '', id: 'mycomment' }) do |f| %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" style="visibility: hidden; -webkit-animation-name: none;">
    <div class="form-group">
      <%= f.label :content, 'Введите ваш комментарий...', html: { class: 'control-label', for: 'contact-message' } %>
      <div class="controls">
        <%= f.text_area :content, placeholder: 'Введите ваш комментарий',
                                  class: 'form-control input-lg requiredField',
                                  row: '3',
                                  :'data-error-empty' => 'Пожалуйста введите комментарий' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <%= f.button 'Отправить', class: 'btn btn-block', :'data-error-message' => 'Ошибка!', :'data-sending-messag' => 'Отправка...'    %>
          <input type="hidden" name="submitted" id="submitted3" value="true">
        </div>
      </div>
    </div>

  </div>
</div>
<% end %>