<div id="menu" class="menu-right">
  <ul>
    <form class="menu-search" >
      <div class="form-group header">
        <i class="icon-search searchico"></i>
        <input type="text" placeholder="Blog Search">
        <a href="#" class="close-menu"><i class="icon-close"></i></a>
      </div>
    </form>
    <li><a href="#"><i class="icon-lime"></i>Home</a></li>
    <li><a href="#"><i class="icon-user"></i>About</a></li>
    <li class="submenu">
      <a href="#"><i class="icon-books"></i>Categories<b class="caret"></b></a>
      <ul class="submenu-list">
        <li><a href="#">Blogroll <span class="badge golden">2</span></a></li>
        <li><a href="#">Quotes<span class="badge">4</span></a></li>
        <li><a href="#">Travel<span class="badge red">12</span></a></li>
        <li><a href="#">Writing<span class="badge blue">7</span></a></li>
      </ul>
    </li>
    <li><a href="#"><i class="icon-envelope"></i>Contact</a></li>
  </ul>
</div>
