<div class="post-popular">
  <div class="row hidden-xs">
    <div class="col-sm-4 col-md-4">
      <a href="#"><img src="img2.jpg" class="img-responsive" alt="img2"></a>
      <h4 class="text-center"><a href="#">But I've never been to the moon!</a></h4>
      <p class="post-date text-center">MAY 10, 2014</p>
    </div>
    <div class="col-sm-4 col-md-4">
      <a href="#"><img  src="img1.jpg" class="img-responsive" alt="img1"></a>
      <h4 class="text-center"><a href="#">We don't have a brig</a></h4>
      <p class="post-date text-center">september 27, 2014</p>

    </div>
    <div class="col-sm-4 col-md-4">
      <a href="#"><img  src="img3.jpg" class="img-responsive" alt="img3"></a>
      <h4 class="text-center"><a href="#">Every other day it's food, food, food.</a></h4>
      <p class="post-date text-center">april 2, 2014</p>

    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-sm-12">
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" src="img2.jpg" width="100" alt=""></a>
        <div class="media-body">
          <h4 class="media-heading"><a href="">But I've never been to the moon!</a></h4>
          <p class="post-date">may 10, 2014</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" src="img1.jpg" width="100" alt=""></a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">We don't have a brig</a></h4>
          <p class="post-date">september 27, 2014</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" src="img3.jpg" width="100" alt=""></a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Every other day it's food, food, food.</a></h4>
          <p class="post-date">april 2, 2014</p>
        </div>
      </div>

    </div>
  </div>
</div>